.button-remote {
  display: flex;
  justify-content: center;
}

/* .button-remote h5 {
  color: blue;
  font-weight: lighter;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* .button-remote button {
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 5px 0px 0px rgba(0, 0, 0, 0.6);
} */
